.sidebar{
 position:fixed;
 left:0;
 top:0;
 height:100vh;
 width:60px;
 background:black;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 gap:30px;
 color:white;
 font-size:22px;
 z-index:20;
}
